= simple_form_for(@main_part) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name_parts
    = f.input :brand
    = f.input :code_part
    = f.input :code_parts_advanced
    = f.input :ean
    = f.input :status_product
    = f.input :name_image
    = f.input :additional_data
    = f.input :art_cross
  .form-actions
    = f.button :submit
